/********************************
  Global Styling
  Ew red = #EE4043
*********************************/

body {
  background-color: #dcdcdc;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


/********************************
  Header Branding
*********************************/

.ew-header {
  height: 60px;
  background-color: #ffffff;
}

a.navbar-brand img {
  width: 30px;
  border-radius: 10px;
}


/********************************
  Landing Page Styles
*********************************/

.ew-search-form {
  margin-bottom: 15px;
  padding-right: 2%;
  padding-left: 2%;
  height: 35px;
}

.ew-search-btn-div {
  margin-left: -20px;
  padding-right: 0;
  padding-left: 0;
  width: 0%;
}

.ew-search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #EE4043;
  color: #ffffff;
}

.ew-card {
  margin-right: 2%;
  margin-left: 2%;
  color: #464646;
}

.ew-panel-body {
  padding-top: 0px;
}

.ew-panel-heading {
  font-size: 1.5em;
}

.panel-default > .panel-heading {
  background-color: #ffffff;
  color: #333;
}

.panel-default > .panel-sub-heading {
  background-color: #ffffff;
  color: #333;
}

.panel-sub-heading {
  margin-top: -15px;
  padding: 5px 16px;
  font-style: italic;
  font-size: .8em;
}

address {
  margin-bottom: 0px !important;
}

.ew-card-rating {
  margin-top: -25%;
  color: #464646;
  font-size: 3.2em;
}

.ew-card-progress {
  margin-bottom: 0;
  height: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/********************************
  Ew-Resturant Page Styles
*********************************/

.ew-header-page {
  overflow: hidden;
  margin-top: -24px;
  margin-bottom: 0px;
  color: #333;
}

.ew-page-heading {
  font-size: 1.8em;
  opacity: 1;
}

.ew-page-map-overlay {
  position: absolute;
  margin-top: -108px;
  width: 100%;
  height: 110px;
  background-color: #ffffff;
  opacity: .8;
}

.ew-page {
  width: 100%;
  color: #464646;
}

.ew-page-rating {
  position: absolute;
  top: 20px;
  right: 50px !important;
  color: #464646;
  font-size: 3.2em;
}

.ew-page-map {
  height: 110px;
}

.ew-page-violation-header {
  padding-left: 20px;
  background-color: #ffffff;
  color: #EE4043;
  font-size: 1em;
  line-height: 3;
}

.ew-page-violation-type-header {
  padding-right: 20px;
  padding-left: 20px;
  height: 24px;
  background-color: #EE4043;
  color: #ffffff;
  font-size: .9em;
  line-height: 1.8;
}

.ew-page-shitshow {
  height: 24px;
}

.panel.panel-default.ew-page-accordion {
  border-radius: 0;
}

.panel.panel-default.ew-page-accordion {
  margin-top: 0px;
}
