<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="comma, seperated, keywords">
  <meta name="author" content="Peoples">
  <title>Chick-Fil-A // Ew</title>
  <link href="{{ url_for('static', filename='css/patterns.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/ew.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="apple-touch-icon">
</head>

<body class="hidden-sm hidden-md hidden-lg">
  <!-- BEGIN Header Content -->
  <nav class="navbar navbar-default navbar-static-top ew-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="special-header-center">
            <a class="navbar-brand col-xs-12" href="/">
              <img class="img-responsive center-block" alt="Ew" src="{{ url_for('static', filename='img/ew.jpg') }}">
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- END Header Content -->
  <!-- BEGIN Body Content -->
  <div class="containter">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default ew-header-page">
          <div id="ew-googlemaps" class="ew-page-map"></div>
          <div class="ew-page-map-overlay">
            <div class="panel-heading ew-page-heading">{{ business_data.Name }}</div>
            <div class="panel-sub-heading">
              <address id="item-address">
                <br>{{ business_data.Address }}
                <br>{{ business_data.City }}, Washington
                <br>{{ business_data.Zip_Code }}
                <br>
                <abbr title="Phone">P:</abbr>
                <a id="item-phone" href="tel:{{ business_data.Phone }}">{{ business_data.Phone }}</a>
              </address>
            </div>
            <div class="ew-page-rating">
              11/100
            </div>
          </div>
        </div>

        <div class="ew-page-violation-section">
          <div class="ew-page-violation-header">
            Violations
          </div>
          <div class="ew-page-violation-type-header">
            <div class="pull-left">
              Inspection Type
            </div>
            <div class="pull-right">
              Date
            </div>
          </div>
        </div>
      <div class="panel-group ew-page-violation-results" id="accordion" role="tablist" aria-multiselectable="true">
          {% for r_det in json_string %}

          <div class="panel panel-default ew-page-accordion">
            <div class="panel-heading ew-page-accordion-title" role="tab" id="heading{{ loop.index }}">
              <div class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                  <div class="ew-page-shitshow">
                    <div class="pull-left inspection-type">
                      {{ r_det.Inspection_Type }}
                    </div>
                    <div class="pull-right inspection-date">
                        {{ r_det.Inspection_Date }}
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div id="collapse{{ loop.index }}" class="panel-collapse collapse in ew-page-accordion-body-panel" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
              <div class="panel-body ew-page-accordion-body-content">
                <div>
                  Inspection Result: {{ r_det.Inspection_Result }}
                </div>
                  <p>Violation: {{ r_det.Inspection_Violation }}</p>
                  <p>Violation ID: {{ r_det.Violation_Record_ID }}</p>
                  <p>Violation Points: {{ r_det.Violation_Points }}</p>
                  <br />
                  <p>Description: {{ r_det.Description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
  <!-- END Body Content -->
  <!-- Javascript goes here to improve page load. ;)  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/patterns.min.js') }}"></script>
  <script>
    function initMap() {
      var customMapType = new google.maps.StyledMapType([{
        stylers: [{
          hue: '#EE4043'
        }, {
          visibility: 'simplified'
        }, {
          gamma: 0.5
        }, {
          weight: 0.5
        }]
      }, {
        elementType: 'labels',
        stylers: [{
          visibility: 'off'
        }]
      }, {
        featureType: 'water',
        stylers: [{
          color: '#890000'
        }]
      }], {
        name: 'Custom Style'
      });
      var customMapTypeId = 'custom_style';

      var map = new google.maps.Map(document.getElementById('ew-googlemaps'), {
        zoom: 14,
        disableDefaultUI: true,
        center: {
          lat: {{ business_data.Latitude }},
          lng: {{ business_data.Longitude }},
        },
      });

      map.mapTypes.set(customMapTypeId, customMapType);
      map.setMapTypeId(customMapTypeId);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
</body>

</html>
