<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="comma, seperated, keywords">
  <meta name="author" content="Peoples">
  <title>Ew-App</title>
  <link href="css/patterns.css" rel="stylesheet">
  <link href="css/ew.css" rel="stylesheet">
  <link href="img/favicon.ico" rel="icon">
  <link href="img/favicon.ico" rel="apple-touch-icon">
</head>

<body class="hidden-sm hidden-md hidden-lg">
  <!-- BEGIN Header Content -->
  <nav class="navbar navbar-default navbar-static-top ew-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="special-header-center" >
            <a class="navbar-brand col-xs-12" href="/">
              <img class="img-responsive center-block" alt="Ew" src="img/ew.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- END Header Content -->
  <!-- BEGIN Body Content -->
  <div class="containter">
    <div class="row">

      <!-- BEGIN Ew Search -->
      <form class="form-inline ew-search-form" method="get" action="https://duckduckgo.com/?q=">
          <div class="col-xs-11 pull-left">
            <input type="search" class="form-control ew-search-input" id="ew-search-form">
          </div>
          <div class="col-xs-2 pull-left ew-search-btn-div">
            <button type="submit" class="btn btn-defaul ew-search-btn">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
      </form>
      <!-- End Ew Search -->

      <div class="col-xs-12">
        {% for rest in json_string %}
        <!-- BEGIN Ew Card -->
        <a href="#">
          <div class="panel panel-default ew-card">
            <div class="panel-heading ew-panel-heading">{{ rest.Name }}</div>
            <div class="panel-sub-heading">Fast Food</div>
            <div class="panel-body ew-panel-body">
              <address id="item-address">
                <br> {{ rest.Address }}
                <br> {{ rest.City }}, {{ rest.Zip_Code }}
                <!-- <br>
              <abbr title="Phone">P:</abbr>
              <a id="item-phone" href="tel:4254541758">(425) 454-1758</a> -->
              </address>
              <div class="ew-card-rating pull-right">
                  {{ rest.Inspection_Score }}
                  <p id="location"></p>
              </div>
            </div>
            <div class="progress ew-card-progress">
              <div class="progress-bar ew-card-rating-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 11%">
              </div>
            </div>
          </div>
        </a>
        <!-- END Ew Card -->
        {% endfor %}

      </div>
    </div>
  </div>
  <!-- END Body Content -->
  <!-- Javascript goes here to improve page load. ;)  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/patterns.min.js"></script>
  <script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(showPosition);
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        $.ajax({
            type: 'POST',
            url: '/location',
            data: JSON.stringify({latitude: latitude, longitude: longitude}),
            contentType: 'application/json;charset=UTF-8'
        });
    }
      document.onload = getLocation();
    </script>
</body>

</html>
